table {
    border-spacing: 0;
    line-height: 1;
}

td {
    border-bottom: 1px solid rgb(208, 205, 205);
    padding: 0;
}

td.subscription_name_col {
    padding: 0 1em;
    text-align: left;

}

td.subscription_amt_col {
    text-align: right;
}

td.subscription_icon img {
    height: 45px;
    width: 45px;
}

td.payment_icon img {
    height: 35px;
}

tr {
    max-height: 45px;
}

tr.subscription_row:hover td {
    background-color: rgb(210, 211, 211);
}

div.subscription_table {
    border: 1px solid rgb(210, 210, 210);
    border-radius: 10px;
    padding: 1em;
    margin: 2em;
    width: 50em;
}

h3 {
    margin-top: 0;
}

div#new_subscription_form {
    width: 50em;
    border: 1px solid rgb(210, 210, 210);
    margin: 2em;
    padding: 1em;
    border-radius: 10px;
}

div.new_subscription_heading {
    display: flex;
}

form div {
    display: flex;
}

form label {
    min-width: 10em;
    padding: 10px 15px;
    text-align: end;
}

form div input {
    box-sizing: border-box;
    padding: 10px 15px;
    font-size: 1em;
    min-width: 20em;
}