/* SEARCH TICKER FORM */

form.search-ticker-form {
    margin: 1em;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

div.search-ticker-form {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

input.search-ticker-submit {
    color: white;
    font-weight: 700;
    background-color: rgb(0, 96, 240);
    border: 1px solid rgb(0, 96, 240);
}

form.search-ticker-form input {
    border-radius: 5px;
    margin: 0 0.1em;
    padding: 0 1em;
}

div.search-ticker-form span {
    color: rgb(255, 86, 86);
    padding-right: 9.25em;
    margin: 0;
}

/* SEARCH RESULTS */

li.ticker-search-results {
    display: flex;
    height: 2.5em;
}

li.ticker-search-results p {
    padding: 0.3em 0;
    margin: 0;
}

li.ticker-search-results button {
    height: 2.25em;
}

li.ticker-search-results:hover {
    background-color: rgb(245, 246, 257);
    cursor: pointer;
}

ul.ticker-search-result-list {
    border: 1px solid rgb(186, 186, 186);
    box-shadow: 2px 3px 8px rgb(173, 171, 171);
    padding: 1em;
    border-radius: 15px;
}



div.investment-col-left {
    margin: 1em;
    padding: 1em;
    border: 1px solid rgb(176, 176, 176);
    border-radius: 8px;
    width: 25%;
    height: 90vh;
    overflow-y: scroll;
}

div.investment-col-left ul {
    padding: 0;
}

div.investment-col-right {
    width: 80%;
}

div.investment-main-page {
    display: flex;
}

/* Hide scrollbar for Chrome, Safari and Opera */
div.investment-col-left::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
div.investment-col-left::-webkit-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

div.investment-tile-container {
    border: 1px solid rgb(242, 242, 242);
    border-radius: 8px;
    margin: 0.25em;
}

div.investment-tile-container h5 {
    padding: 0.25em 1em;
    text-align: left;
}

div.investment-tile-container p {
    margin: 0;
}


div.investment-tile-container:hover {
    background-color: antiquewhite;
}