nav {
    display: flex;
    justify-content: space-between;
    background-color: rgb(15, 15, 15);
    width: 100vw;
    top: 0;
    color: white;
}

nav>h3 {
    padding-right: 25em;
    margin: auto 0;
}

nav>ul {
    display: flex;
    align-items: center;

}

nav ul li {
    padding: 0 1em;
    list-style-type: none;

}