nav {
    display: flex;
    justify-content: space-between;
    background-color: rgb(15, 15, 15);
    width: 100vw;
    top: 0;
    color: white;
}

nav div h2 {
    padding: 0 0 0 1em;
    margin: auto 0;
    font-size: 1.5em;
}

nav>ul {
    display: flex;
    align-items: center;
    margin: 0;
}

nav ul a {
    color: white;
    padding: 0 1em;
    list-style-type: none;
    text-decoration: none;

}

img.nav-bar-icon {
    height: 4em;
}

div.nav-bar-left {
    display: flex;
}